.sec4
	color: $b
	background-color: #FFF
	text-align: center
	display: flex
	justify-content: center
	align-items: center

	img 
		display: block
		width: 76%
		margin: 2% auto 0

	h3
		max-width: 350px
		font-family: $p500
		font-weight: 500

	

