html, body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

input, textarea, button, select, option, optgroup, fieldset, label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor; }

[class*='flex'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  [class*='flex'] > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 10px; }

[class*='flex'][class*='-jc-'] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

[class*='flex'][class*='-jfs-'] {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

[class*='flex'][class*='-jfe-'] {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

[class*='flex'][class*='-jsa-'] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

[class*='flex'][class*='-jsb-'] {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[class*='flex'][class*='-ac-'] {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

[class*='flex'][class*='-as-'] {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

[class*='flex'][class*='-afs-'] {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

[class*='flex'][class*='-afe-'] {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

[class*='flex'][class*='-nw-'] {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

[class*='-f10-'] > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

[class*='-f01-'] > * {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-f11-'] > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

[class*='-fw100px-'] > * {
  width: 100px;
  -webkit-flex-basis: 100px;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px; }

[class*='-fw200px-'] > * {
  width: 200px;
  -webkit-flex-basis: 200px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px; }

[class*='-fw300px-'] > * {
  width: 300px;
  -webkit-flex-basis: 300px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }

[class*='-fw400px-'] > * {
  width: 400px;
  -webkit-flex-basis: 400px;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px; }

[class*='-fw500px-'] > * {
  width: 500px;
  -webkit-flex-basis: 500px;
  -ms-flex-preferred-size: 500px;
  flex-basis: 500px; }

[class*='flex'][class*='-l1-'] > * {
  width: calc( 100% - 20px);
  -webkit-flex-basis: calc( 100% - 20px);
  -ms-flex-preferred-size: calc( 100% - 20px);
  flex-basis: calc( 100% - 20px); }

[class*='flex'][class*='-l2-'] > * {
  width: calc( 50% - 20px);
  -webkit-flex-basis: calc( 50% - 20px);
  -ms-flex-preferred-size: calc( 50% - 20px);
  flex-basis: calc( 50% - 20px); }

[class*='flex'][class*='-l3-'] > * {
  width: calc( 33.33% - 20px);
  -webkit-flex-basis: calc( 33.33% - 20px);
  -ms-flex-preferred-size: calc( 33.33% - 20px);
  flex-basis: calc( 33.33% - 20px); }

[class*='flex'][class*='-l4-'] > * {
  width: calc( 25% - 20px);
  -webkit-flex-basis: calc( 25% - 20px);
  -ms-flex-preferred-size: calc( 25% - 20px);
  flex-basis: calc( 25% - 20px); }

[class*='flex'][class*='-l5-'] > * {
  width: calc( 20% - 20px);
  -webkit-flex-basis: calc( 20% - 20px);
  -ms-flex-preferred-size: calc( 20% - 20px);
  flex-basis: calc( 20% - 20px); }

[class*='flex'][class*='-l6-'] > * {
  width: calc( 16.66% - 20px);
  -webkit-flex-basis: calc( 16.66% - 20px);
  -ms-flex-preferred-size: calc( 16.66% - 20px);
  flex-basis: calc( 16.66% - 20px); }

@media screen and (max-width: 992px) {
  [class*='flex'][class*='-m1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-m2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-m3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); }
  [class*='flex'][class*='-m4-'] > * {
    width: calc( 25% - 20px);
    -webkit-flex-basis: calc( 25% - 20px);
    -ms-flex-preferred-size: calc( 25% - 20px);
    flex-basis: calc( 25% - 20px); } }

@media screen and (max-width: 768px) {
  [class*='flex'][class*='-s1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-s2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); }
  [class*='flex'][class*='-s3-'] > * {
    width: calc( 33.33% - 20px);
    -webkit-flex-basis: calc( 33.33% - 20px);
    -ms-flex-preferred-size: calc( 33.33% - 20px);
    flex-basis: calc( 33.33% - 20px); } }

@media screen and (max-width: 320px) {
  [class*='flex'][class*='-xs1-'] > * {
    width: calc( 100% - 20px);
    -webkit-flex-basis: calc( 100% - 20px);
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px); }
  [class*='flex'][class*='-xs2-'] > * {
    width: calc( 50% - 20px);
    -webkit-flex-basis: calc( 50% - 20px);
    -ms-flex-preferred-size: calc( 50% - 20px);
    flex-basis: calc( 50% - 20px); } }

[class*='btn'] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    user-select-text-align: center; }

#call-to-action-btn {
  position: fixed;
  width: 95px;
  height: 150px;
  z-index: 2;
  right: calc( 4% + 90px);
  bottom: calc( 7% + 60px); }
  #call-to-action-btn img {
    position: absolute;
    top: 0;
    left: 0; }
    #call-to-action-btn img:not(.text) {
      width: 300%;
      -webkit-transform: translate3d(-6%, 5%, 0);
      transform: translate3d(-6%, 5%, 0); }
    #call-to-action-btn img.text {
      width: 100%;
      position: absolute; }

.unslider {
  overflow: auto;
  margin: 0;
  padding: 0; }

.unslider-wrap {
  position: relative; }

.unslider-wrap.unslider-carousel > li {
  float: left; }

.unslider-vertical > ul {
  height: 100%; }

.unslider-vertical li {
  float: none;
  width: 100%; }

.unslider-fade {
  position: relative; }

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8; }

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10;
  opacity: .4; }

.unslider li, .unslider ol, .unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none; }

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer; }

.unslider-arrow.next {
  left: auto;
  right: 20px; }

#bar {
  position: fixed;
  right: calc( 4% + 40px);
  top: calc( 7% + 40px);
  z-index: 30;
  background-color: #0047BA;
  padding: 20px 17px;
  border-radius: 5px; }
  #bar .bar-chart-wrap {
    position: relative;
    width: 270px;
    margin-bottom: 10px; }
    #bar .bar-chart-wrap .b-pg-main {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #FD4A0F;
      height: 10px;
      border-radius: 10px; }
    #bar .bar-chart-wrap .b-pg-bg {
      position: relative;
      width: 100%;
      height: 10px;
      -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      z-index: 1; }
  #bar .text {
    font-size: 12px;
    font-family: PingFangTC-Regular, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 400; }
    #bar .text b {
      display: inline-block;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5); }
      #bar .text b:nth-of-type(1) {
        width: 50px;
        padding-left: 5px; }
      #bar .text b:nth-of-type(2) {
        width: 110px;
        text-align: center; }

#nav {
  position: fixed;
  left: calc( 4% + 40px);
  top: calc( 7% + 40px);
  z-index: 30; }
  #nav a {
    font-size: 13px;
    width: 115px;
    line-height: 30px;
    height: 30px;
    color: #0047BA;
    background-color: #fff;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    margin: 0 5px;
    text-align: center;
    font-family: PingFangTC-Regular, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 400;
    border-radius: 17px; }
  #nav a:hover {
    background-color: #FD4A0F; }

#header-slider li {
  position: relative;
  top: 10vh;
  width: 100%;
  height: 90vh;
  background-position: bottom; }

.header-border {
  position: absolute;
  left: 4%;
  top: 7%;
  width: 92%;
  height: 86%;
  pointer-events: none;
  z-index: 3; }
  .header-border div {
    position: absolute; }
    .header-border div.left, .header-border div.top, .header-border div.right, .header-border div.bottom {
      -webkit-box-shadow: inset 0 0 0 0.5px #fff;
      box-shadow: inset 0 0 0 0.5px #fff; }
    .header-border div.left {
      width: 5px;
      left: 8px;
      top: 205px;
      height: calc( 100% - 350px); }
    .header-border div.right {
      width: 5px;
      right: 8px;
      top: 130px;
      height: calc( 100% - 300px); }
    .header-border div.top {
      height: 5px;
      top: 10px;
      width: calc( 100% - 215px);
      left: 40px; }
    .header-border div.bottom {
      height: 5px;
      bottom: 14px;
      width: calc( 100% - 365px);
      left: 180px; }
    .header-border div.left-top {
      top: 0;
      left: 0;
      width: 22px; }
    .header-border div.left-bottom {
      bottom: 0;
      left: 0;
      width: 160px; }
    .header-border div.right-bottom {
      bottom: 0;
      right: 0;
      width: 170px;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px); }
    .header-border div.right-top {
      top: 0;
      right: 0;
      width: 160px; }

.sec2 {
  background-color: #FD4A0F;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .sec2 .left {
    padding-left: 30px; }
  .sec2 h1 {
    font-size: 17px;
    font-family: PingFangTC-Light, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 300;
    margin-top: 30px; }
  .sec2 h2 {
    font-size: 36px;
    line-height: 1.3;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 600; }
    .sec2 h2 b {
      color: #0047BA; }
  .sec2 h3 {
    font-size: 15px;
    font-family: PingFangTC-Light, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 300; }
  .sec2 .right {
    position: relative; }
  .sec2 img {
    width: 110%;
    position: absolute;
    right: 0;
    top: 0; }

.s3-scroll-block {
  height: 100vh;
  position: relative; }

.s3-title {
  font-size: 36px;
  line-height: 1.3;
  font-family: PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 600;
  color: #fff;
  margin-top: 30px; }

.s3-infos {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 65px;
  line-height: 1.15;
  font-family: PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 600;
  color: #fff;
  opacity: .2;
  text-align: right; }
  .s3-infos .s3-info {
    display: inline-block;
    text-align: left; }
  .s3-infos .s3-info:nth-of-type(2) {
    width: 100%;
    margin-top: 30px; }

.s3-scroll-block:nth-of-type(2) .s3-infos {
  font-size: 52px; }
  .s3-scroll-block:nth-of-type(2) .s3-infos b {
    font-size: 20px;
    margin-left: 20px; }
  .s3-scroll-block:nth-of-type(2) .s3-infos .s3-info:nth-of-type(1) {
    margin-top: 50px; }

.s3-cards {
  margin-top: 50px; }

.s3-cards .card {
  color: #fff;
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-itmes: flex-start; }
  .s3-cards .card .img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 95px;
    -ms-flex: 0 0 95px;
    flex: 0 0 95px;
    width: 95px;
    height: 95px;
    border-radius: 100%;
    overflow: hidden; }
    .s3-cards .card .img img {
      width: 100%; }
  .s3-cards .card .text {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 calc( 100% - 110px);
    -ms-flex: 1 1 calc( 100% - 110px);
    flex: 1 1 calc( 100% - 110px);
    width: calc( 100% - 110px);
    margin-left: 15px;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: PingFangTC-Light, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 300;
    padding: 8px 30px 30px 20px; }
    .s3-cards .card .text span {
      position: absolute;
      right: 50px;
      color: #FD4A0F;
      bottom: 0px;
      font-size: 14px; }

.sec4 {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .sec4 p {
    line-height: 1.7;
    font-family: PingFangTC-Light, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 300; }
  .sec4 img {
    max-width: 300px;
    margin: 50px auto 15px; }
  .sec4 h3 {
    color: #FD4A0F;
    margin-bottom: 20px; }

.sec5 .right {
  padding: 0 10%; }

.sec5 p {
  line-height: 1.7; }

.sec5 img {
  width: 152%; }

.sec5 h3 {
  color: #FD4A0F;
  font-size: 20px;
  font-family: PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 600;
  margin: 25px 0 10px; }

.sec6 .content {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }

.sec6 .left img {
  width: 140%; }

.sec6 .right {
  padding: 5% 10%; }
  .sec6 .right img {
    margin-bottom: 40px; }
  .sec6 .right p {
    line-height: 1.7;
    font-family: PingFangTC-Light, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 15px; }

.sec6 .unslider {
  position: relative; }

.sec6 .unslider-arrow {
  position: absolute;
  width: 20%;
  max-width: 80px;
  top: 0;
  height: 100%;
  font-size: 0; }
  .sec6 .unslider-arrow:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-style: solid;
    border-width: 15px 20px 15px 0;
    border-color: transparent #FD4A0F transparent transparent; }

.sec6 .unslider-arrow.next:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

.slider-content {
  max-width: 1100px;
  padding: 0 2.5%;
  margin: auto; }

#s6-slider {
  position: relative; }

.sec7 h3, .sec7 h4 {
  color: #FD4A0F;
  font-family: PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 600;
  font-size: 24px; }

.sec7 h4 {
  color: #fff;
  margin-top: 7px;
  margin-bottom: 35px; }

.sec7 .left {
  padding-right: 40px; }

.sec7 .s7-list {
  position: relative;
  padding-left: 35px;
  margin: 10px 0 15px;
  letter-spacing: 1px; }
  .sec7 .s7-list span {
    display: block;
    font-size: 13px;
    opacity: .5;
    margin-top: 4px; }
  .sec7 .s7-list:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 0px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 100%; }

.sec7 .s7-list:nth-of-type(1) b {
  color: #ff7bd4; }

.sec7 .s7-list:nth-of-type(1):after {
  background-color: #ff7bd4; }

.sec7 .s7-list:nth-of-type(2) b {
  color: #c29ade; }

.sec7 .s7-list:nth-of-type(2):after {
  background-color: #c29ade; }

.sec7 .s7-list:nth-of-type(3) b {
  color: #89e872; }

.sec7 .s7-list:nth-of-type(3):after {
  background-color: #89e872; }

.sec7 .s7-list:nth-of-type(4) b {
  color: #fff36d; }

.sec7 .s7-list:nth-of-type(4):after {
  background-color: #fff36d; }

.sec7 .s7-list:nth-of-type(5) b {
  color: #00addc; }

.sec7 .s7-list:nth-of-type(5):after {
  background-color: #00addc; }

.sec7 .right img {
  width: 100%; }

.plan {
  -webkit-box-shadow: inset 0 0 0 3px #0047BA, inset 0 0 0 4px #fff, 0 0 0 3px #fff;
  box-shadow: inset 0 0 0 3px #0047BA, inset 0 0 0 4px #fff, 0 0 0 3px #fff;
  padding: 30px 7%;
  position: relative;
  background-position: 70% bottom !important;
  margin-bottom: 25px;
  cursor: pointer; }
  .plan:hover {
    background-color: rgba(255, 255, 255, 0.3); }
  .plan h2 {
    font-size: 20px;
    font-family: PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 600;
    margin-bottom: 30px; }
  .plan p {
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: PingFangTC-Thin, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 200;
    line-height: 1.7; }
    .plan p span {
      opacity: 0.3; }
  .plan .price {
    position: absolute;
    right: 7%;
    top: 26px;
    font-size: 26px;
    font-family: PingFangTC-Ultralight, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 100; }

.s9-nav {
  margin: 25px auto;
  max-width: 800px; }
  .s9-nav .btn {
    background-color: #FD4A0F;
    color: #fff;
    font-size: 12px;
    letter-spacing: 8px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px; }

.sec9 img.title {
  max-width: 300px;
  margin-bottom: 50px; }

.sec9 img {
  display: block;
  max-width: 500px;
  margin: 0 auto; }

.sec9 .r-img {
  position: relative;
  margin-bottom: 70px; }
  .sec9 .r-img p {
    font-size: 17px;
    opacity: .4;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.7; }
  .sec9 .r-img .mark {
    position: absolute;
    width: 200px;
    line-height: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    -webkit-transform: translate3d(90%, -200%, 0);
    transform: translate3d(90%, -200%, 0); }

.sec9 .text span {
  display: inline-block;
  opacity: .3;
  font-size: 14px;
  margin: 5px 40px 5px 0; }

.sec9 .text h3 {
  margin-top: 17px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 600;
  letter-spacing: 1px; }

.sec9 .text p {
  font-size: 13px;
  font-family: PingFangTC-Light, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.7;
  max-width: 600px; }
  .sec9 .text p b {
    font-size: 17px; }

.sec9 .text .btn {
  position: relative;
  display: inline-block;
  background-color: #FD4A0F;
  color: #0047BA;
  font-family: PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 600;
  line-height: 35px;
  width: 600px;
  margin-top: 40px;
  height: 35px;
  padding: 0 15px;
  border-radius: 5px; }
  .sec9 .text .btn b {
    position: absolute;
    right: 15px;
    top: 0; }

.sec9 .th, .sec9 .td {
  font-size: 13px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .sec9 .th span, .sec9 .td span {
    display: block;
    opacity: 0.3;
    font-size: 12px; }

.sec9 .tr {
  -webkit-box-shadow: inset 0 0 0 0.5px #fff, 0 0 0 0.5px #fff;
  box-shadow: inset 0 0 0 0.5px #fff, 0 0 0 0.5px #fff;
  padding: 15px 15px; }

.sec9 .tr:nth-of-type(1) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  width: 100px; }

.sec9 .tr:nth-of-type(4) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 130px;
  -ms-flex: 0 0 130px;
  flex: 0 0 130px;
  width: 130px; }

.sec9 .tr:nth-of-type(2), .sec9 .tr:nth-of-type(3) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc( 50% - 115px);
  -ms-flex: 0 0 calc( 50% - 115px);
  flex: 0 0 calc( 50% - 115px);
  width: calc( 50% - 115px); }

.sec9 .box {
  position: relative;
  padding-top: calc( 20% - 20px);
  border-radius: 6px;
  background-color: #FFF; }

body {
  background-color: #0047BA;
  color: #fff; }

section, header {
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100%; }
  section .content, header .content {
    position: relative;
    width: 100%;
    padding: 5% 2.5%;
    max-width: 1100px;
    margin: auto; }

[class*="img-bg"] {
  background-position: center;
  background-repeat: no-repeat; }

.img-bg-cover {
  background-size: cover; }

.img-bg-contain {
  background-size: contain; }

.video {
  overflow: hidden;
  height: 100vh; }
  .video video {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    min-width: 100%;
    min-height: 100%; }

.section-title {
  padding-top: 30px;
  font-size: 24px;
  font-family: PingFangTC-Semibold, xingothic-tc, sans-serif, Microsoft JhengHei;
  font-weight: 600;
  text-align: center;
  color: #FD4A0F; }
  .section-title b {
    display: block;
    font-size: 17px;
    font-family: PingFangTC-Light, xingothic-tc, sans-serif, Microsoft JhengHei;
    font-weight: 300; }

.mark {
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 12px;
  background-color: #FD4A0F;
  color: #fff; }

#call-to-action-btn, #bar, #nav {
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s; }

#call-to-action-btn.calm_down, #bar.calm_down, #nav.calm_down {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: .6; }
  #call-to-action-btn.calm_down:hover, #bar.calm_down:hover, #nav.calm_down:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

#call-to-action-btn.calm_down {
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

#bar.calm_down {
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

#nav.calm_down {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }
