doctype
html
  head
    meta(charset='UTF-8')
    title 雜學校 ZaShare｜建校大業集資企劃啟動
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
    meta(name="keywords" content="雜學校, ZaShare, 集資")
    meta(name="description" content="亞洲最大的創新教育內容平台，地表最嚮往的未來學校，雜學校 ZaShare 建校大業集資企劃啟動")
    meta(property="og:title" content="雜學校 ZaShare｜建校大業集資企劃啟動")
    meta(property="og:site_name" content="雜學校 ZaShare｜建校大業集資企劃啟動")
    meta(property="og:description" content="亞洲最大的創新教育內容平台，地表最嚮往的未來學校，雜學校 ZaShare 建校大業集資企劃啟動")
    meta(property="og:image" content="/assets/img/common/facebook_share.jpg")
    link(rel="shortcut icon" type="image" href="/assets/img/common/favicon.png")
    link(rel="stylesheet", href="/assets/css/main.css")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body

  script(src='//cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js')
  script(src='/assets/js/vendor/jquery-2.1.4.min.js')
  script(src='/assets/js/index.js')
            


