@charset "UTF-8"
// ========= 客製化區 =========
@import 'custom_style/variables' // 變數
// ========= base =========
@import 'base/reset'
@import 'base/dophlex' // dopplex
// ========= element =========
@import 'element/btn' 
@import 'element/unslider'
// ========= layout =========
@import 'layout/header'
@import 'layout/2'
@import 'layout/3'
@import 'layout/4'
@import 'layout/5'
@import 'layout/6'
@import 'layout/7'
@import 'layout/8'
@import 'layout/9'
@import 'layout/10'
@import 'layout/11'

body 
	background-color: $b

section, header 
	position: relative
	min-height: 100vh
	height: auto
	width: 100%

	.content
		position: relative
		width: 100%
		padding: 5% 2.5%
		max-width: 1100px
		margin: auto


[class*="img-bg"]
	background-position: center
	background-repeat: no-repeat

.img-bg-cover
	background-size: cover

.img-bg-contain
	background-size: contain
